* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: grid;
  width: 100%;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}
.app {
  /*margin: 50px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}

.search {
  padding: 10px;
  font-size: 20px;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

table {
  border: 2px solid lightgray;
  width: 100%;
  margin: 50px 0px;
  border-spacing: 15px;
  color: #444;
}

tr {
  margin-bottom: 20px;
}

th {
  width: 250px;
  text-align: left;
  font-size: 20px;
}

td {
  width: 250px;
  font-size: 20px;
}
